<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Sign Up</title>
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/edit.css" />
</head>
<body>
  <div class="container card post-card">
    <h1>Sign Up to PetBlog</h1>
    <form action="/register" method="POST">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required />

      <label for="email">Email:</label>
      <input type="text" id="email" name="email" required />

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />

      <button class="btn like-btn" type="submit">Register</button>
    </form>
  </div>
</body>
</html>
