body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    width: 100%;
    max-width: 500px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

label {
    display: block;
    margin: 1rem 0 0.5rem;
    font-weight: 500;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: none;
    font-size: 1rem;
    margin-bottom: 1rem;
}

textarea {
    resize: vertical;
    height: 100px;
}

button {
    border: none;
    width: 6rem !important;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

a {
    display: inline-block;
    margin-top: 10px;
    color: #aaa;
    text-decoration: none;
    font-size: 0.9rem;
}

a:hover {
    text-decoration: underline;
}