body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffdac1 !important;
    color: #505050;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    margin: 0;
}

.container {
    padding: 1.5rem;
    border-radius: 0.75rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    width: 100%;
}

.card {
  display: inline-block; 
  min-width: 30%;
  width: auto; 
  height: auto; 
  padding: 1.5rem; 
  margin: 2rem auto;
  box-sizing: border-box;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  background-color: #fdfd96; /* Lemon Chiffon */
  border-radius: 10px;
}

.card-title {
  color: #505050;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

label {
    display: block;
    margin: 1rem 0 0.5rem;
    font-weight: 500;
}

input, textarea{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 6px;
    border: none;
    font-size: 1rem;
    margin-bottom: 1rem;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

button {
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}
.btn {
  border: none;
  margin-top: 1rem;
  font-weight: bold;
}
.btn-custom {
  background: #ffb6b9;
  color: #fff;
}
.btn:hover {
  background: #ff999c;
  color: black;
}

a {
    display: inline-block;
    margin-top: 10px;
    color: #aaa;
    text-decoration: none;
    font-size: 0.9rem;
}

a:hover {
    text-decoration: underline;
}