html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-color: #ffdac1 !important;
  color: #505050; /* Graphite Gray */
  font-family: "Poppins", sans-serif;
}

.navbar {
  background-color: #c1f0f6;
  /* Mint Sky */
}
.navbar .container-fluid {
  padding-left: 50px;
  padding-right: 50px;
}

.card {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
.post-card {
  background-color: #fdfd96; /* Lemon Chiffon */
  margin-bottom: 20px;
  border-radius: 10px;
}
.card-title {
  color: #505050;
}
.btn-custom {
  background-color: #ffb6b9; /* Rose Pink */
  border: none;
  color: white;
}
.footer {
  background-color: #c1f0f6; /* Mint Sky */
  text-align: center;
  padding: 10px;
  margin-top: 50px;
}

.about-card {
  background-color: #c1f0dc;
  border-radius: 10px;
}

.username {
  font-size: 2rem;
  font-weight: bold;
  margin: 30px 0 20px;
}

.post-img {
  max-height: 600px;
  object-fit: cover;
  border-radius: 5px;
}

.post-form {
  background-color: #c1f0dc;
}

.post-btn {
  background-color: #e4b7a0;
  color: #fff;
}

.post-btn:hover {
  background-color: #e4b7a0;
}

.btn {
  border: none;
  padding: 5px 12px;
  border-radius: 5px;
  font-weight: bold;
}
.btn:hover {
  background: #ff999c;
  color: black;
}
.like-btn {
  background: #ffb6b9;
  color: #fff;
  padding: 5px 12px;
  border-radius: 5px;
  font-weight: bold;
  width: 8rem;
}
.like-btn.liked {
  background: #ff999c;
}
